@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=Montserrat&family=Prompt&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --main-bg-color: rgb(66, 145, 215);
}

header{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    height: 10vh;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}

main{
    text-align: center;
}

button{
    font-weight: 700;
}


.navbar-brand{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px 4px #2b2a2a;
    margin-right: 200px;
}



.navbar-list{
    display: inline-flex;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    gap: 3vw;
    list-style: none;
    /* width: 90vw; */
    align-items: center;
    justify-content:flex-end;
}

.navbar-item:hover{
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    color: rgba(240, 238, 238, 0.911);
}



.slider{
    padding: 0 80px; 
    margin: 5vh 0;
}

.carousel-item{
    padding: 30px;
}

.carousel-img{
    filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
    border-radius: 20px;
    width: 1000px;
}

.carousel-img:hover{
    width: 1005px;
    cursor: pointer;
}


.carousel-control-prev-icon ,.carousel-control-next-icon{
    background-color: rgb(82, 149, 221);
    border-radius: 10px;
}

.carousel-control-prev-icon:hover ,.carousel-control-next-icon:hover{
    background-color: #19376D;
    border-radius: 10px;
}

.main-section{
    padding: 0 30px;
}

.heading{
    background-color: #19376D;
    border-radius: 10px;
    color: white;
    font-family: monospace;
    padding-left: 2vw;
    text-align: start;
    font-weight: 700;
}

.main-items{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-img{
    filter: drop-shadow(10px 10px 10px rgb(51, 50, 50));
    margin-bottom: 15px;
    border-radius: 10px;
    width: 200px;
}

.main-img:hover{
    position: relative;
    filter: drop-shadow(10px 10px 10px rgb(51, 50, 50));
    bottom: 10px;
    cursor: pointer;

    /* width: 205px; */
}

.main-item-info{
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    margin-top: 5px;
}



footer{
    background-color: var(--main-bg-color);
    height: 10vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

@media screen and (max-width:1378px) {
    .carousel-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        border-radius: 20px;
        width: 700px;
    }

    .carousel-img:hover{
        width: 705px;
        cursor: pointer;
    }

    .slider{
        padding: 0 150px; 
        margin: 5vh 0;
    }
}

@media screen and (max-width:1135px) {
    .carousel-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        border-radius: 20px;
        width: 500px;
    }

    .carousel-img:hover{
        width: 505px;
        cursor: pointer;
    }

    .slider{
        padding: 0 150px; 
        margin: 5vh 0;
    }

}

@media screen and (max-width:920px) {
    .carousel-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        border-radius: 20px;
        width: 500px;
    }

    .carousel-img:hover{
        width: 505px;
        cursor: pointer;
    }

    .slider{
        padding: 0 150px; 
        margin: 5vh 0;
    }

    .carousel-control-prev-icon ,.carousel-control-next-icon{
        visibility: hidden;
    }
}

@media screen and (max-width:730px) {
    .carousel-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        border-radius: 20px;
        width: 400px;
    }

    .carousel-img:hover{
        width: 405px;
        cursor: pointer;
    }

    .slider{
        padding: 0 150px; 
        margin: 5vh 0;
    }

    .carousel-control-prev-icon ,.carousel-control-next-icon{
        visibility: hidden;
    }
}


@media screen and (max-width:379px) {
    .carousel-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        border-radius: 10px;
        width: 300px;
    }

    .carousel-img:hover{
        width: 305px;
        cursor: pointer;
    }

    .slider{
        padding: 0 2px; 
        margin: 5vh 0;
    }

    .carousel-control-prev-icon ,.carousel-control-next-icon{
        visibility: hidden;
    }

    .main-items{
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-behavior: smooth;
    }
    .main-item{
        width: 203px;
        /* display: flex;  */
        gap: 7vw;
        margin: 5px;
        justify-content: center;
        align-items: center;
    }

    .main-img{
        filter: drop-shadow(10px 10px 5px rgb(51, 50, 50));
        margin-bottom: 15px;
        border-radius: 10px;
        width: 100px;
        flex-direction: row;
    }
    
    .main-item-info{
        margin:  0 auto;
        width: 50%;
        font-size: x-small;
        font-family: 'Bebas Neue', cursive;
        line-height: 1;
        margin-top: 5px;
        text-align:center;
    }
}